html,
body {
  all: unset;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "gradient";
  height: 100vh;
}

#gradient {
  grid-area: gradient;
  width: 100%;
  height: 100%;
}
